<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" >
      
      <ion-back-button [defaultHref]="defaultHref">

      </ion-back-button>
      
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" [hidden]="true" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-center">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <img
    src="assets/images/forgotimage.png"
    class="slide-image"
  />
  <p>
    simple and effective. Students get results instantly and compare with others.
  </p>
    <form #forgotForm="ngForm" novalidate>
      
      <div class="form-group col-lg-6 mb-3">
        <label for="email">Email address</label>
        <input
          id="email"
          type="text"
          [(ngModel)]="loginId"
          name="email"
          placeholder="Enter your email"
          class="form-control bg-white  border-md"
        />
      </div>
      <!-- Submit Button -->
      <div class="form-group col-lg-12 mx-auto mb-0">
        <button
          class="btn btn-primary btn-block py-2 text-white"
          (click)="onLogin(loginForm)"
        >
          <span class="font-weight-normal ">Reset password</span>
        </button>
      </div>

    
     
    </form>
  </div>
</ion-content>
 