<ion-tabs  >
  <ion-tab-bar slot="bottom" id="bottombar">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="myexams">
      <ion-icon name="receipt"></ion-icon>
      <ion-label>My Exams</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analysischart">
      <ion-icon name="pie-chart"></ion-icon>
      <ion-label>Analysis</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
