<ion-content>
<ion-toolbar>
  <ion-buttons slot="start" (click)="dismiss()">
    <ion-button>
      Cancel
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="applyFilters()">
      Done
    </ion-button>
  </ion-buttons>

  <ion-title class="text-center">Filters</ion-title>
</ion-toolbar>

<ion-list>
  <ion-item *ngFor="let item of filerList">
    <ion-label>{{item.name}}</ion-label>
    <ion-checkbox [(ngModel)]="item.isChecked" color="success" mode="ios"></ion-checkbox>
  </ion-item>
</ion-list>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="selectAll(false)">Deselect All</ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="selectAll(true)">Select All</ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-content>