// .exam-header{
//     height: 30vh;
//     .left{
//         button{
//             padding: 3px;
          
//             border-radius: 50%;
//             width: 1.5rem;
//             height: 1.5rem;
//             font-size: .9rem;
//             margin-right: 3px;
//             background: #fbf9f9;
//             box-shadow: -1px 1px 4px 0 rgba(117,138,172,.12);
//         }
      
//     }
//     .right{
//         .headerButton{
//             font-size: 0.9rem;
//             // border: 1px solid white;
//             width: 5rem;
//             border-radius: 2rem;
//             background: #8A8DEC;
//             color: white;
//             box-shadow: -1px 1px 4px 0 rgba(117,138,172,.12);
//         }
       
//     }
// }
// .cross-header-body{
//     padding: 0.9rem;
//     .left{
//         button{
//             padding: 3px;
//             border: 1px solid white;
//             border-radius: 50%;
//             width: 1.5rem;
//             height: 1.5rem;
//             font-size: .9rem;
//             margin-right: 3px;
//             background: #fbf9f9;
//         }
      
//     }
// }



.examconductor-page {
   // background: var(--ion-color-primary);
    height: calc(100vh - 56px);
    position: fixed;
    width: 100%;
}

.examconductor-main-card {
    background: #eaecf7;
    height: calc(100%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
    position: absolute;
    .overall-time{
       font-size: 0.9rem;
    }
}

.examconductor-inner-card {
    background: #fff;
    border-radius: 10px;
    margin-top: 10px;
    height: calc(100vh - 180px);
    width: 100%;
    .header-box{
        .time-spent p,.mark-review-btn ion-icon{
            color:#393c40;
            font-size: 0.9rem;
            margin: 0.7rem auto;
            font-weight: 600;
        }
        .mark-review-btn ion-icon{
            font-size: 1.2rem;
        }
        .badge{
            padding: 0.6rem;
            width: 2.3rem;
            height: 2.3rem;
            background: gray;
            vertical-align: middle;
            border-radius: 50%;
        }
    }
}

ion-toolbar {
    --background: transparent;
}

.pause-button {
    background: #393c40;
    /* border-radius: 6px; */
    padding: 0.1rem;
    font-size: 0.7rem;
    text-align: center;
}

.pause-button ion-icon {
    color: white;
}

.prevbtn,
.nextbtn {
    color: white;
    font-weight: 600;
}

.prevbtn {
    --background: #828685;

}

.nextbtn {
    --background: var(--ion-color-warning)
}

::ng-deep {
    ion-slides {
        border-radius: 10px;
    }
}

.card>hr {
    margin-right: 10px;
    margin-left: 10px;
}

hr {
    height: 1px;
    border-width: 1px;
    box-sizing: content-box;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid #e9ecef;
}

.question-line {
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
}

.optionlist ion-item {
    --border-color: transparent;
}

/****sidemenu***/
.panelbox {
    .modal-dialog {
        margin: 0;
        position: fixed;
        left: 0;
        top: 0;

        .modal-content {
            border: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 0;
            width: 300px;
            height: 97vh;
            overflow: auto;
            margin-top: 15px;



            .modal-header {
                border-bottom: 0;
                padding: 10px 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-height: 56px;

                .modal-title {
                    color: #6676df;
                    font-weight: 600;
                }
            }

            .modal-body {
                padding: 10px 16px;
                .status_box{
                    .list-group{
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    &.show .modal-dialog {
        transform: translate(0, 0) !important;
    }
}

.panelbox .modal-title {
    margin-top: 0px;
}

.panelbox .list-group-flush>.list-group-item {
    border-width: 0 0 1px;
    background: #e9ecef;
    margin-bottom: 7px;
    border-radius: 5px;
}

.panelbox .list-group-flush>.list-group-item {
    padding: 4px 8px;
    border: 0;
    color: #7f8284;
    font-weight: 600;
}

.status_box {
    border-bottom: 1px solid #a2a4a5;
}

.custom-badge {
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
    padding: 0.6rem;
    font-size: 0.7rem;
}
.badge-success {
    background-color: #16B45F;
    color: white;
}
.badge-danger {
    background-color: #F2464C;
    color: white;
}
.badge-warning {
    background-color: #FFDE77;
    color: white;
}
.badge-brown {
    background-color: #F49251;
    color: grey;
}
.badge-white {
    background: -o-linear-gradient(45deg, #fff 17%, #fff 70%);
    background: linear-gradient(45deg, #fff 17%, #fff 70%);
    color: #5a6872;
}
.panelbox-left {
    .modal-dialog {
        transform: translate(-100%, 0) !important;
    }
}

.panelbox-right {
    .modal-dialog {
        transform: translate(100%, 0) !important;
        left: auto;
        right: 0;
    }
}

.profileBox {
    padding: 0 16px;
    display: flex;
    align-items: center;

    .image-wrapper {
        margin-right: 16px;
    }

    .in {
        line-height: 1.4em;
        padding-right: 25px;

        strong {
            display: block;
            font-weight: 600;
            color: #393c40;
        }

        .text-muted {
            font-size: 14px;
            color: gray !important;
        }
    }
}

.sidebar-balance {
    padding: 6px 16px;
    background: #fff;

    .listview-title {
        padding-right: 0;
        padding-left: 0;
        color: #FFF;
        opacity: .6;
    }

    .amount {
        font-weight: 600;
        letter-spacing: -0.01em;
        line-height: 1em;
        color: #FFF;
        margin-bottom: 6px;
    }
}

.action-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 16px 10px 16px;
    background: #fff;

    .action-button {
        padding: 10px 2px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        line-height: 1em;
        color: rgba(255, 255, 255, .7);

        .iconbox {
            background: rgba(#000, .3);
            width: 38px;
            height: 38px;
            margin: 0 auto 8px auto;
            border-radius: 100%;
            font-size: 18px;
            color: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:last-child {
            border-right: 0;
        }
    }
}

#sidebarPanel {
    .modal-dialog {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
    }

    .modal-body {
        margin-bottom: 34px;
        padding-bottom: env(safe-area-inset-bottom) !important;
        width: 300px;
    }
}

.panelbox-left,
.panelbox-right {
    .listview {
        >li {
            padding: 10px 16px;
        }
    }

    .link-listview {
        >li {
            padding: 0;

            a {
                padding: 10px 36px 10px 16px;
            }
        }
    }

    .image-listview {
        >li {
            padding: 0;

            .item {
                padding: 10px 16px;
            }

            a.item {
                padding-right: 36px;
            }
        }
    }
}

.sidebar-close {
    position: absolute;
    right: 10px;
}

.qnh-inner {
    padding: 5px;
    height: 50%;
    overflow-y: auto;
    position: absolute;

}

.questionList {
    padding: 0px;
}

.ques_nav_btn {
    border: 1px solid #393c40;
    width: 15%;
    height: 35px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
}




// .ques_nav_btn .badge {
//     background-color: #777;
//     border-radius: 10px;
//     color: #fff;
//     display: inline-block;
//     font-size: 12px;
//     font-weight: 700;
//     line-height: 1;
//     min-width: 10px;
//     padding: 3px 7px;
//     text-align: center;
//     vertical-align: middle;
//     white-space: nowrap;
// }

.radius-0 {
    border-radius: 0 !important;
}

span.badge-transparent {
    background: transparent !important;
}

// .badge.badge-corner {
//     color: #fff !important;
//     position: relative;
//     /* right: 80% !important; */
//     top: -7px !important;
//     left: -7px;
// }

.ques_nav_btn ion-icon {
    position: relative;
    left: -10px;
    top: -6px;
    font-size: 18px;
}



.questionList .btn {
    background-image: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 5px;
    margin-right: 0px;
    padding: 4px 0px;
    text-align: justify;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
    z-index: 0;

}

.success {
    background: #6c757d !important;
    color: #FFF;

    ion-icon {
        opacity: 0;
    }
}

.failed {
    background-color: #f6c14a;
    color: white;

    ion-icon {
        opacity: 0;
    }
}

.Mark_for_review {
    border-color: #6c757d;
    color: #0e0e0e;
}

.Marked_ans {
    background: #6c757d;
    color: white;
}

.qnol {
    margin-left: -6px;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: none;
}

.summary-header {
    background: #6676df;
    color: white;

    padding: 0px 10px;
    justify-content: center !important;
}

.summary-header h2 {
    margin-bottom: 18px;
    font-weight: 600;
    line-height: 1.2;
    font-size: 24px;
}

.summary-list li {
    color: #a5a8ab;
    font-weight: 700;
    font-size: 18px;
    border-bottom: none;
}

// .questionList .btn-success {
//     background-color: #5cb85c;
//     border-color: #4cae4c;
//     color: #fff;
// }

// .questionList .badge {
//     background-color: #777;
//     border-radius: 10px;
//     color: #fff;
//     display: inline-block;
//     font-size: 12px;
//     font-weight: 700;
//     line-height: 1;
//     min-width: 10px;
//     padding: 3px 7px;
//     text-align: center;
//     vertical-align: middle;
//     white-space: nowrap;
// }

// .radius-0 {
//     border-radius: 0 !important;
// }

// .questionList span.badge-dark {
//     background: #555 !important;
// }

// .questionList .badge.badge-corner {
//     color: #fff !important;
//     position: absolute !important;
//     right: -6px !important;
//     top: -8px !important;
// }