<!-- <ion-header>
  <div class="exam-header pb-6" [ngClass]="theme">
    <div class="appHeader  text-light" >
      <div class="left">
        <button class="btn ">
          <ion-icon slot="start" name="pause"></ion-icon>
        </button>
        10:35
      </div>
      <div class="pageTitle">
        {{title}}
      </div>
      <div class="right">
          <button  class="headerButton">
            Submit
          </button>
      </div>
  </div>
   
      <div class="cross-header-body">
        <div class="py-1">
          <div class="card-body user-avatar">
            <div class="row">
             
              <ion-label>
                <h2>{{examname}}</h2>
                <p><span>gfhkdghfdgsfdgsd</span>/<span>fghfdbkgfjkd</span></p>
              </ion-label>
            </div>
          </div>
        </div>
      
      </div>
    
  </div>
</ion-header>

<ion-content>

</ion-content> -->
<ion-header>
  <div class="appHeader  text-light" [ngClass]="theme">
    <div class="left">
      <div class="headerButton goBack">
        <div class="pageTitle">{{examname}}</div>
      </div>
    </div>
    <div class="right">
      <!--<button
        class="headerButton"
        data-toggle="modal"
        data-target="#exampleModal"
      >-->
      <button class="headerButton" (click)="openModalDialog()">
        <ion-icon
          class="icon md hydrated"
          name="menu-outline"
          role="img"
          aria-label="menu outline"
        ></ion-icon>
      </button>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="examconductor-page mt-5" [ngClass]="theme">
    <div class="container card examconductor-main-card">
      <ion-toolbar>
        <ion-buttons slot="start"> {{qno}} | {{totalquestion}} </ion-buttons>
        <ion-buttons slot="primary" >
          <button class="pause-button btn-sm" *ngIf="showPauseBtn">
            <ion-icon
              slot="icon-only"
              ios="pause-outline"
              md="pause-outline"
            ></ion-icon>
          </button>
        </ion-buttons>

        <ion-title class="overall-time text-center">{{time_duration}}</ion-title>

        <ion-progress-bar value="{{progress}}"></ion-progress-bar>
      </ion-toolbar>
      <div class="text-center">
        <ion-slides
          #slides
          (ionSlidePrevEnd)="slideChangeBack(qno)"
          (ionSlideNextEnd)="slideChangeNext(qno)"
        >
          <ion-slide *ngFor="let ques of filteredquestion">
            <div class="card box-shadow examconductor-inner-card">
              <!-- <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button> {{time_spent | async}} </ion-button>
                </ion-buttons>
                <ion-buttons slot="end">
                  <ion-button>
                    <ion-icon
                      slot="icon-only"
                      ios="bookmark-outline"
                      md="bookmark-outline"
                    ></ion-icon>
                  </ion-button>
                </ion-buttons>
                <ion-title class="text-center">
                  <ion-chip>
                    <ion-label>{{qno}}</ion-label>
                  </ion-chip>
                </ion-title>
              </ion-toolbar> -->
              <div class="row header-box justify-content-between">
                <div class="col-4 time-spent">
                   <p>{{time_spent | async}}</p>
                </div>
                <div class="col-4">
                  <div class="badge">
                    <span class="text-center">{{qno}}</span>
                  </div>
                 
                </div>
                <div class="col-4 mark-review-btn">
                  <ion-icon
                  slot="icon-only"
                  color="warning"
                  [name]="reviewflag == true ? 'bookmark' : 'bookmark-outline'"
                  (click)="markreview()"
                ></ion-icon>
                </div>
              </div>
              <hr />
              <div class="question-line clearfix">
                <ion-label [innerHtml]="question_value"></ion-label>
              </div>
              <!--<ion-list radio-group [(ngModel)]="selectedOption">
                <ion-item *ngFor="let key of optionkeys; let i = index;">
                  <ion-label [innerHtml]="Options[key]"></ion-label>
                  <ion-radio
                    slot="start"
                    color="success"
                    value="{{key}}"
                  ></ion-radio>
                </ion-item>
              </ion-list>-->
              <ion-list class="optionlist">
                <ion-radio-group>
                  <ion-item
                    *ngFor=" let key of optionkeys"
                    (click)="storeOption(qno,key)"
                  >
                    <ion-label
                      [innerHtml]="Options[key]"
                      *ngIf="Options[key]"
                    ></ion-label>
                    <ion-radio
                      *ngIf="Options[key]"
                      slot="start"
                      color="success"
                      mode="md"
                      name="{{key}}"
                      value="{{key}}"
                    ></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
          </ion-slide>
        </ion-slides>
      </div>

      <!--<div class="card box-shadow examconductor-inner-card">
        <ion-slides pager="false">
          <ion-slide *ngFor="let ques of [1,2,3,4,5]">
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button> 00:001 </ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button>
                  <ion-icon
                    slot="icon-only"
                    ios="bookmark-outline"
                    md="bookmark-outline"
                  ></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title>
                <ion-chip>
                  <ion-label>{{ques}}</ion-label>
                </ion-chip>
              </ion-title>
            </ion-toolbar>
          </ion-slide>
        </ion-slides>
      </div>-->
      <ion-toolbar>
        <ion-button class="prevbtn" (click)="prev()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Previous
        </ion-button>

        <ion-button class="nextbtn" slot="end" (click)="next()">
          Next

          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </div>
  </div>

  <div
    class="modal fade panelbox panelbox-right"
    tabindex="-1"
    role="dialog"
    #exampleModal
    id="exampleModal"
    aria-modal="true"
    [ngClass]="{'show':isModalShow == true}"
    [ngStyle]="{'display':modalDisplay}"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Summary</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="closeModalDialog()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="status_box">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"  >
                Answered
                <span class="badge badge-success badge-pill custom-badge"
                  >14</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Unanswered
                <span class="badge badge-danger badge-pill custom-badge"
                  >2</span
                >
              </li>
              
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Mark for review
                <span class="badge badge-warning badge-pill custom-badge"
                  >1</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Marked & Answered
                <span class="badge badge-brown badge-pill custom-badge"
                  >1</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Unseen
                <span class="badge badge-white badge-pill custom-badge"
                  >1</span
                >
              </li>
            </ul>
          </div>
          <div class="qnh-inner">
            <ul class="questionList slim-scrollbar">
              <li
                class="label btn btn-default ques_nav_btn activeQues"
                *ngFor="let data of filteredquestion track by index"
                [ngClass]="{'activeQues':data.questionno == '0', 
'success':data.questionno == '1' ,
'failed': data.questionno == '2','Mark_for_review':data.questionno == '3',
'Marked_ans':data.questionno == '4'}"
                (click)="setActiveQuestion(qno,data.questionno)"
              >
                <ion-icon
                  class="bookmark-badge badge-corner radius-0"
                  name="bookmark"
                  color="primary"
                ></ion-icon>

                <span class="qnol">{{data.questionno}}</span>
              </li>
            </ul>
            <!--<ul class="questionList">
              <li *ngFor="let data of filteredquestion">
                <a href="#" class="btn btn-success">
                  <span class="badge badge-dark badge-corner radius-0">2</span>
                  {{data.questionno}}
                </a>
              </li>
            </ul>-->
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-block btn-md btn-primary mb-0"
            data-toggle="modal"
            data-target="#sumbitmodal"
            (click)="closeModalDialog()"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <!--summary modal-->
  <div
    class="modal fade"
    id="sumbitmodal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header summary-header text-center">
          <h2 class="modal-title" id="exampleModalLabel">Summary</h2>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-flush summary-list">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Answered
              <span class="badge badge-primary badge-pill custom-badge"
                >14</span
              >
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Unanswered
              <span class="badge badge-primary badge-pill custom-badge">2</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Unseen
              <span class="badge badge-primary badge-pill custom-badge">1</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Mark for review
              <span class="badge badge-primary badge-pill custom-badge">1</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Marked & Answered
              <span class="badge badge-primary badge-pill custom-badge">1</span>
            </li>
          </ul>
          <div class="text-center">
            <h2 class="font-weight-600">
              Are you sure want to submit the test?
            </h2>
          </div>
        </div>
        <div class="modal-footer">
          <ion-grid>
            <ion-row>
              <ion-col>
                <button
                  type="button"
                  class="btn btn-outline-secondary btn-lg btn-block"
                  data-dismiss="modal"
                >
                  No
                </button>
              </ion-col>
              <ion-col>
                <button
                  type="button"
                  class="btn btn-warning text-white btn-lg btn-block"
                  (click)="goToExam()"
                >
                  Yes
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>
</ion-content>

