<ion-content>
  <div class="appHeader  text-light" [ngClass]="theme">
    <div class="left">
      <ion-back-button [defaultHref]="defaultHref"  ></ion-back-button>
      
    </div>
    <div class="pageTitle">
      {{title}}
    </div>
    <div class="right">
        <button  class="headerButton">
          <ion-select
          [(ngModel)]="currentLanguage"
          [interfaceOptions]="selectOptions"
          (ionCancel)="onCancel()"
          (ionChange)="onChange(currentLanguage)"
        >
          <ion-select-option
            *ngFor="let lang of languageSuport"
            value="{{lang.lngcode}}"
            >{{lang.lngname}}</ion-select-option
          >
        </ion-select>
        </button>
    </div>
</div>
<div class="main">

  <div class="container-fluid">
    <ion-slides
      #slides
      pager="true"
      (ionSlideDidChange)="slideChanged(currentLanguage)"
    >
      <ion-slide>
        <div class="inst1Container" [innerHTML]="generalInst"></div>
      </ion-slide>

      <ion-slide>
        <div class="inst1Container" [innerHTML]="examInst"></div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="container">
    <div class="card declaration-box box-shadow">
      <b [innerHTML]="DeclarationTitle"></b>
      <ion-label>
        <ion-checkbox
          [(ngModel)]="isAccepted"
          (ionChange)="checked()"
          shape="square"
        ></ion-checkbox>
        <span [innerHTML]="Declaration"></span>
      </ion-label>
    </div>

    <p class="my-2">
      <button
        class="btn btn-success text-white btn-md btn-block"
        (click)="StartTestConfirmation(isAccepted)"
      >
        Start Test
      </button>
    </p>
  </div>
  </div>

</ion-content>