.inst1Container {
    position: relative;
    height: 62vh;
    overflow-y: auto;
}
.headerButton ion-select{
    font-size: 0.8rem;
}
.main{
    padding:56px 0 0 0 ;
}


::ng-deep {
    .swiper-pagination {
        position: relative;
        text-align: left;
        -webkit-transition: 300ms opacity;
        -o-transition: 300ms opacity;
        transition: 300ms opacity;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        z-index: 10;
    }

    .swiper-pagination-bullet {
        width: 27px;
        height: 5px;
        display: inline-block;
        border-radius: 4px;

    }
    ion-slide{
        li{
            font-size: 0.8rem;
        }
    }
}

.declaration-box {
    padding: 0.6rem;
    height: 16vh;
    position: relative;
    overflow-y: auto;
    font-size: 0.8rem;
}

ion-checkbox {
    --border-radius: 5px;
    height: 15px;
    width: 15px;
}