<ion-menu contentId="main-content" (ionWillOpen)="initTheme()">
  <ion-content>
    <div class="menu-header" [ngClass]="theme" ></div>
    <div class="header-content">
      <img [src]="userimage" alt="" />
      <ion-label>
        <h2>{{username}}</h2>
        <p>Last logged in -{{ lastlogin_date | date: mediumDate }}</p>
      </ion-label>
    </div>
    <ion-list lines="none">
      <ion-list-header> Menu </ion-list-header>
      <ion-menu-toggle
        autoHide="false"
        *ngFor="let p of appPages; let i = index"
      >
        <ion-item
          [routerLink]="p.url"
          routerLinkActive="selected"
          routerDirection="root"
          detail="false"
        >
          <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
          <ion-label>
            {{ p.title }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

    <ion-list  lines="none">
      <ion-list-header> Account </ion-list-header>
      <ion-menu-toggle autoHide="false">
        <ion-item
          routerLink="/nexamhallcandidate/settings"
          routerLinkActive="selected"
          routerDirection="root"
          detail="false"
        >
          <ion-icon slot="start" name="cog-outline"></ion-icon>
          <ion-label> Settings </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="false">
        <ion-item
          routerLink="/app/tabs/account"
          routerLinkActive="selected"
          routerDirection="root"
          detail="false"
        >
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label> Account </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <ion-item button (click)="logout()" detail="false">
          <ion-icon slot="start" name="log-out"></ion-icon>
          <ion-label> Logout </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>