ion-menu ion-content {
    // --padding-top: 20px;
    --padding-bottom: 20px;
  
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }
  
  /* Remove background transitions for switching themes */
  ion-menu ion-item {
    --transition: none;
  }
  
  ion-item.selected {
    --color: var(--ion-color-primary);
  }
  
  /*
   * Material Design Menu
  */
  ion-menu.md ion-list {
    padding: 20px 0;
  }
  
  ion-menu.md ion-list-header {
    padding-left: 18px;
    padding-right: 18px;
  
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 450;
  }
  
  ion-menu.md ion-item {
    --padding-start: 18px;
  
    margin-right: 10px;
  
    border-radius: 0 50px 50px 0;
  
    font-weight: 500;
  }
  
//   ion-menu.md ion-item.selected {
//     --background: rgba(var(--ion-color-primary-rgb), 1.14);
//   }
  
//   ion-menu.md ion-item.selected ion-icon {
//     color: var(--ion-color-primary);
//   }

  ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 1.14);
  }
  
  ion-menu.md ion-item.selected ion-icon {
    color: white;
  }
  ion-menu.md ion-item.selected ion-label {
    color: white;
  }
  
  ion-menu.md ion-list-header,
  ion-menu.md ion-item ion-icon {
    color: var(--ion-color-step-650, #5f6368);
  }
  
  ion-menu.md ion-list:not(:last-of-type) {
    border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
  }
  
  
  /*
   * iOS Menu
  */
  ion-menu.ios ion-list-header {
    padding-left: 16px;
    padding-right: 16px;
  
    margin-bottom: 8px;
  }
  
  ion-menu.ios ion-list {
    padding: 20px 0 0;
  }
  
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --min-height: 50px;
  }
  
  ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
  }
  
  ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  .menu-header {
    // height: 125px;
    // width: 350px;
    // // background-color: #25bbbb;
    // // background: linear-gradient(90deg, #8cf0f0 0%, #25bbbb 100%);
    // box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    // transform: rotate(0deg);
    // /* border-radius: 10px 10px 10px 30px; */
    // margin-left: -18px;
    // margin-top: 0px;
    // margin-bottom: 15px;
    // // margin: -20px auto;
    height: 125px;
    width: 90%;
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    transform: rotate(0deg);
    margin: 15px 15px 15px 15px;
    border-radius: 10px;
  }
  
  .header-content {
    position: absolute;
    top: 5%;
    left: 10%;
    display: flex;
    align-items: center;
  
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 7px solid #25bbbb;
      margin-right: 14px;
    }
  
    h2 {
      font-weight: 600;
      color: white;
      letter-spacing: 0.4px;
  
    }
  
    p {
      font-size: 12px;
      color: white;
      font-weight: 400;
      letter-spacing: 0.4px;
  
    }
  }
  