<!--<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-center"> n Exam Hall </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="appHeader  text-light" [ngClass]="theme">
    <div class="left">
      <ion-menu-button autoHide="false" class="headerButton"></ion-menu-button>

    </div>
    <div class="pageTitle">
      nExamHall
    </div>
    <div class="right">
      <button class="headerButton">
        <ion-icon class="icon" name="notifications-outline"></ion-icon>
        <span class="badge badge-danger"></span>
      </button>
    </div>
  </div>
  <div class="main">
    <div class="cross-header pb-6" [ngClass]="theme">
      <div class="container-fluid">
        <div class="cross-header-body">
          <div class="py-1">
            <div class="card-body user-avatar">
              <div class="row">
                <ion-avatar slot="start">
                  <img [src]="userimage">
                </ion-avatar>
                <ion-label>
                  <h3>{{username}}</h3>
                  <p>{{loginId}}</p>
                </ion-label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--6 dashboard-analysis-container">
      <div class="row">
        <div class="col-12">
          <div class="card" >
            <div class="card-body">
              <div class="row header no-gutters">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0 font-weight-bold">Test Overview</h5>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-red rounded-circle shadow">
                    <ion-icon src="./assets/icon/analysisicon.svg"></ion-icon>
                  </div>
                </div>
              </div>
              <div class="chart-container-card" [ngClass]="chartCardCustomStyle">
                <ion-row class="no-gutters">
                  <ion-col size="4" size-md>
                    <div class="chart-card">
                      <canvas #doughnutCanvas></canvas>
                    </div>
                   
                  </ion-col>
                  <ion-col size="8" size-md>
                    <ion-item class="progress-container" lines="none" *ngFor="let item of pdata;let i = index;" >
                      <ion-thumbnail slot="start">
                        <i class="badge text-white"  [style.background-color]="item.color">{{item.value}}</i>
                      </ion-thumbnail>
                      <ion-label>
                        <h6>{{item.label}}</h6>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 25%" 
                          [style.background-color]="item.color"
                          aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </ion-label>
                    </ion-item>
                   
                  
                  </ion-col>
                </ion-row>
               
              </div>
              <ion-chip color="secondary-outline" class="pull-right" (click)="showMore(showLess)">
                <ion-text>{{showMoreBtn}}</ion-text>
                <ion-icon [name]="'chevron-'+showMoreBtnIcon +'-outline'"></ion-icon>
              </ion-chip>
             
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>