.header {
    position: relative;
}
.pb-6, .py-6 {
    padding-bottom: 4.5rem!important;
}
.cross-header{
    transform: rotate(-10deg);
    height: 30vh;
    margin-left: -25px;
    margin-right: -20px;
    margin-top: -40px;
}
.cross-header .user-avatar{
    transform: rotate(10deg);
    margin: 8%;
}
.user-avatar ion-avatar{
    width: 15vw;
    height: 6vh;
    img{
        width: 12vw;
        height: 7vh;
    }
}
.user-avatar ion-label {
    color: #fff;
    margin-left: 0px;
    h3{
        font-size: 80%;
    }
    p{
        font-size: 70%;
    }
   
   
}
.dashboard-analysis-container{
     
    .card{
        
        .card-body{
            .header{
                padding: 15px 15px 0px 15px;
              
                .card-title{
                    font-size: 90%;
                }
            }
            padding: 0;
            .card-title{
                margin-top: 0px;
            }
            // .chart-container-card{
            //     // height: 18vh;
            //     // overflow: hidden;
               
            // }
            .chart-card{
                height: 18vh;
                margin-top: -10%;
            } 
        }
        .col-auto{
            margin-top: -12%;
            .icon-shape {
                display: inline-flex;
                padding: 0px;
                text-align: center;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                width: 3rem;
                height: 3rem;
                background: #fff;
                color: rgba(var(--ion-color-primary-rgb));
                font-size: 23px;
                font-weight: 800;
            }

        }
    }
    ion-text{
        color:gray;
        font-size: small;
    }
}
.showmore{
    height: 17vh;
    overflow: hidden;
}
.showless{
    height: auto;
    overflow: hidden;
}

.progress-container{
    ion-thumbnail{
        width: 3vw;
        height: 3vh;

        i{
            font-size: 80%;
            padding: 10px 5px;
            min-width: 8vw;
        }
    }
    ion-label{
        margin-left: 10px;
        h6{
            font-size: 70%;
        }
        .progress{
            height: 1vh;
        }
    }
}

