<ion-content>
  <div class="container login-form">
    <ion-toolbar>
      <ion-buttons slot="start" >
        
        <ion-back-button [defaultHref]="defaultHref">

        </ion-back-button>
        
      </ion-buttons>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" [hidden]="true" name="star"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="text-center">Login</ion-title>
    </ion-toolbar>

    <div class="login-logo">
      <img [src]="instituteLogo" alt="Ionic logo" />
    </div>

    <form #loginForm="ngForm" novalidate>
      <div class="form-group col-lg-6 mb-3">
        <label for="loginId">Email address</label>
        <input
        
          id="loginId"
          type="email"
          [(ngModel)]="loginData.loginId"
          name="loginId"
          placeholder="Enter your email"
          class="form-control bg-white  border-md"
         
        required/>
      
      </div>
      <div class="form-group col-lg-6 mb-3">
        <label for="password">password</label>
        <input
          id="password"
          type="password"
          [(ngModel)]="loginData.password"
          name="password"
          placeholder="Enter your password"
          class="form-control bg-white  border-md"
          required />
      </div>
      <div class="form-group col-lg-6 d-flex justify-content-end">
        <a (click)="goToForgotPwd()" class="text-small forgot-password text-black">Forgot Password</a>
      </div>
      <!-- Submit Button -->
      <div class="form-group col-lg-12 mx-auto mb-0">
        <button
          class="btn btn-primary btn-block py-2 text-white"
          (click)="onLogin(loginForm)"
        >
          <span class="font-weight-normal ">Login</span>
        </button>
      </div>

      <!-- Divider Text -->
      <div class="" *ngIf="publicsupport">
        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-2">
          <div class="border-bottom w-100 ml-5"></div>
          <span class="px-2 small text-muted font-weight-bold text-muted"
            >OR</span
          >
          <div class="border-bottom w-100 mr-5"></div>
        </div>
  
        <!-- Social Login -->
        <div class="flex-c p-b-112" >
          <button class="login100-social-item">
            <i class="fa fa-facebook-f"></i>
          </button>
  
          <button  class="login100-social-item">
            <img src="/assets/images/icons/icon-google.png" alt="GOOGLE">
          </button>
        </div>
        <!--<div class="form-group col-lg-12 mx-auto" *ngIf="publicsupport">
          <a href="#" class="btn btn-primary btn-block py-2 btn-facebook">
            <i class="fa fa-facebook-f mr-2"></i>
            <span class="font-weight-bold">Login with Facebook</span>
          </a>
          <a href="#" class="btn btn-primary btn-block py-2 btn-google">
            <i class="fa fa-google mr-2"></i>
            <span class="font-weight-bold">Login with Gmail</span>
          </a>
        </div>-->
  
        <!-- Already Registered -->
        <div class="text-center w-100 mt-2" >
          <p class="text-muted font-weight-bold">
            Don't have an account?
            <span href="" (click)="onSignup()" class="text-primary ml-2"
              >Sign Up</span
            >
          </p>
        </div>
      </div>
     
    </form>
  </div>
</ion-content>
 