<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" >
      
      <ion-back-button [defaultHref]="defaultHref">

      </ion-back-button>
      
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" [hidden]="true" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-center">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
   
    <form #loginForm="ngForm" novalidate>
      <div class="form-group col-lg-6 mb-3">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          [(ngModel)]="firstName"
          name="username"
          placeholder="Enter your name"
          class="form-control bg-white  border-md"
        />
      </div>
      <div class="form-group col-lg-6 mb-3">
        <label for="email">Email address</label>
        <input
          id="email"
          type="text"
          [(ngModel)]="loginId"
          name="email"
          placeholder="Enter your email"
          class="form-control bg-white  border-md"
        />
      </div>
      <div class="form-group col-lg-6 mb-3">
        <label for="mobnumber">Mobile number</label>
        <input
          id="mobnumber"
          type="text"
          [(ngModel)]="phoneno"
          name="mobnumber"
          placeholder="Enter your Mobile number"
          class="form-control bg-white  border-md"
        />
      </div>
      <div class="form-group col-lg-6 mb-3">
        <label for="password">password</label>
        <input
          id="password"
          type="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Enter your password"
          class="form-control bg-white  border-md"
        />
      </div>
      <div class="form-group col-lg-6 mb-3">
        <label for="confrmpassword">Confirm password</label>
        <input
          id="confrmpassword"
          type="password"
          [(ngModel)]="confirmpassword"
          name="confrmpassword"
          placeholder="Enter your confirm password"
          class="form-control bg-white  border-md"
        />
      </div>

      <!-- Submit Button -->
      <div class="form-group col-lg-12 mx-auto mb-0">
        <button
          class="btn btn-primary btn-block py-2 text-white"
          (click)="onLogin(loginForm)"
        >
          <span class="font-weight-normal ">Signup</span>
        </button>
      </div>

      <!-- Divider Text -->
      <div class="" *ngIf="publicsupport">
        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
          <div class="border-bottom w-100 ml-5"></div>
          <span class="px-2 small text-muted font-weight-bold text-muted"
            >OR</span
          >
          <div class="border-bottom w-100 mr-5"></div>
        </div>
  
        <!-- Social Login -->
        <div class="flex-c p-b-112" >
          <button class="login100-social-item">
            <i class="fa fa-facebook-f"></i>
          </button>
  
          <button  class="login100-social-item">
            <img src="/assets/images/icons/icon-google.png" alt="GOOGLE">
          </button>
        </div>
       
        <!-- Already Registered -->
        <div class="text-center w-100" >
          <p class="text-muted font-weight-bold">
            Don't have an account?
            <span href="" (click)="onSignup()" class="text-primary ml-2"
              >Sign Up</span
            >
          </p>
        </div>
      </div>
     
    </form>
  </div>
</ion-content>
 