
<ion-header class="ion-no-border">
  <div class="appHeader  text-light" [ngClass]="theme">
    <div class="left">
    
      <ion-back-button [defaultHref]="defaultHref"  ></ion-back-button>
    </div>
    <div class="pageTitle">
      {{examname}}
    </div>
    <div class="right">
        <button  class="headerButton" (click)="presentFilter()">
            <!-- <ion-icon  name="notifications-outline"></ion-icon> -->
            <ion-icon  class="icon" name="funnel-outline"></ion-icon>
            <span class="badge badge-danger"></span>
        </button>
    </div>
</div>
</ion-header>

<ion-content>
  
<div class="main">
  <div class="section wallet-card-section pt-1">
    <div class="section-header">
      <ion-searchbar
        mode="ios"
        [(ngModel)]="queryText"
        (ionChange)="onSearchTerm($event)"
        placeholder="Search Exam"
      ></ion-searchbar>
    </div>
  </div>
  <ion-grid class="my-3" fixed>
    <ion-row *ngIf="mockexamdetails.length > 0; else noItems">
      <ion-col size="6" size-md="6" *ngFor="let mock of mockexamdetails">
        <div
          class="card box-shadow mock-card"
          (click)="intructpage(mock._id,mock.examstatus,mock.examname,mock.examseq,mock.langsupport)"
        >
          <span
            class="ui-card__badge badge badge-pill badge-white badge-trending text-{{mock.buttoncolor}}"
            >{{mock.buttonText}}</span
          >
          <div class="card-body">
            <h5 class="card-title">{{mock.mockname}}</h5>
            <p class="card-text">Expires on {{mock.endDate | date}}</p>
          </div>

          <div class="card-body custom-card-body">
           

            <ul class="list-group">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                <span class="badge badge-primary badge-pill"
                  >{{mock.questioncount}}</span
                >
                Questions
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                <span class="badge badge-primary badge-pill"
                  >{{mock.timeduration}}</span
                >
                Minutes
              </li>
            </ul>
         
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ng-template #noItems>
      <ion-item> No items found. </ion-item>
    </ng-template>
  </ion-grid>
 
</div>

</ion-content>
