ion-col:not(:last-of-type) .mock-card {
    margin-bottom: 0;
}



.ios ion-list {
    margin-bottom: 10px;
}

.md ion-list {
    border-top: 1px solid var(--ion-color-step-150, #d7d8da);

    padding: 0;
}



// .mock-card {
//     // border-bottom-left-radius: 10px;
//     // border-bottom-right-radius: 10px;
  
// }

.mock-card {
    border-radius: 10px;
    ion-card-header {
        padding: 0;
    }
    ion-card-content {
        flex: 1 1 auto;
    
        padding: 0;
    }
    .card-body{
        padding: 4px 10px 10px 10px;
        .card-title {
            font-size: 0.9rem;
            color: #4c4a4a;
            font-weight: 600;
        }
        .card-text {
            font-size: 0.7rem;
            color: #a3a4ab;
        }
    }
   
    .custom-card-body{
        border-radius: 10px;
        background: #eef0fb;
        padding: 4px 10px 10px 10px;
        
        .list-group-item{
            padding: 0.3rem;
            background: transparent;
            border: none;
            .badge-primary {
                height: 40px;
                width: 40px;
                padding: 14px;
                background: #3b5065;
            }
        }
    }
    // .custom-card-body {
    //     border-radius: 10px;
    //     background: #eef0fb;
    //   //  padding: 5px;
    // }
    
    // .custom-card-body .list-group-item {
    //     background: transparent;
    //     border: none;
    // }
    
    // .custom-card-body .list-group-item .badge-primary {
    //     height: 40px;
    //     width: 40px;
    //     padding: 14px;
    //     background: #3b5065;
    // }
    .mock-card-item {
        --min-height: 85px;
        h2 {
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.02em;
        }
        p {
            font-size: 13px;
            letter-spacing: 0.02em;
        }
        
    }
    
}



.badge-trending {
    position: relative;
    padding: 5px 0px 0 0px;
    color: #5a6872;
    border-radius: 5px;
    display: inline-block;
    height: 20px;
    font-size: 1rem;
    font-weight: 600;

}

    ion-searchbar {
        .searchbar-input.sc-ion-searchbar-ios{
            background:transparent !important;
        }
    }