// ion-toolbar {
//     position: absolute;
  
//     top: 0;
//     left: 0;
//     right: 0;
  
//     --background: transparent;
//     --color: white;
//   }
  
//   ion-toolbar ion-button,
//   ion-toolbar ion-back-button,
//   ion-toolbar ion-menu-button {
//     --color: white;
//   }
  
//   .about-header {
//     position: relative;
  
//     width: 100%;
//     height: 30%;
//   }
  
  // .about-header .about-image {
  //   position: absolute;
  
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  
  //   background-position: top center;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  
  //   opacity: 0;
  
  //   transition: opacity 500ms ease-in-out;
  // }
  
  // .about-header {
  //   background-image: url(/assets/images/about/about5.png);
  //   background-position:top center;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  // }
  
  
//   .about-info {
//     position: absolute;
//     margin-top: -10px;
//     border-radius: 10px;
//     background: var(--ion-background-color, #fff);
//     width: 100vw;
//   }
  
//   .about-info h3 {
//     margin-top: 0;
//   }
  
//   .about-info ion-list {
//     padding-top: 0;
//   }
  
//   .about-info p {
//     line-height: 130%;
  
//     color: var(--ion-color-dark);
//   }
  
//   .about-info ion-icon {
//     margin-inline-end: 32px;
//   }
  
//   /*
//    * iOS Only
//    */
  
//   .ios .about-info {
//     --ion-padding: 19px;
//   }
  
//   .ios .about-info h3 {
//     font-weight: 700;
//   }
  
  .btn-blue-gradient {
    color: #fff;
    background-color: #349cff;
    background-image: linear-gradient(315deg,#045de9 0,#349cff 74%);
    -webkit-box-shadow: -1px 1px 4px 0 rgba(117,138,172,.12);
    box-shadow: -1px 1px 4px 0 rgba(117,138,172,.12);
    border: none;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.container {
  flex-wrap: wrap
}

.card {
  border: none;
  border-radius: 0px;
  background-color: #4270C8;
  width: 100vw;
  margin-top: -60px;
 
}
//  .header{
//     background-image: url(/assets/images/about/about5.png);
//     background-position:top center;
//     background-size: cover;
//     background-repeat: no-repeat;
   
// }
.about-header img{
  // background-image: url(/assets/images/about/about5.png);
  background-position:top center;
  background-size: cover;
  background-repeat: no-repeat;
}

p.mb-1 {
  font-size: 20px;
  color: #9FB7FD
}



.card.two {
  border-top-right-radius: 60px;
  border-top-left-radius: 0
}





// .btn-block {
//   border: none;
//   border-radius: 8px;
//   background-color:#4270C8;
//   padding: 10px 0 12px
// }

// .btn-block:focus {
//   box-shadow: none
// }

// .btn-block  {
//   font-size: 15px;
//   color: #D0E6FF
// }
.form-control:not(select) {
  padding: 1.5rem 0.5rem;
}
.form-control::placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}

.form-control:focus {
  box-shadow: none;
}


