<ion-content>
 

  <!--<div class="about-header">
    <div class="about-image " ></div>
  </div>

  <div class="about-info">
    <h5 class="ion-padding-top ion-padding-start">Enter your institute code</h5>
    <div class="container">
      <form class="form-signin form-auth-card" name="institutecodeform"   role="form" novalidate="">
        <div class="form-group">
          <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" name="institutename" id="institute" placeholder="Institute Code" ng-model="contactdata.institutename">
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-md-12">
            <button class="btn btn-md btn-blue-gradient btn-block text-capitalize mb-2" id="loginBtn" type="button" ng-disabled="institutecodeform.$invalid">Next</button>
          </div>
         
        </div>
      </form>
    </div>
   

  </div>-->
  <div class="container d-flex justify-content-center">
    <div class="d-flex flex-column justify-content-between">
        <div class="card  mt-0 p-2">
            
            <!-- <div>
                <p class="mb-1">Explore and Start Preparing </p>
                <h4 class="mb-5 text-white">Exam with us!</h4>
            </div>  -->
            <div class="about-header">
             <img class="mb-5" src="./assets/images/about/about10.png" >
            </div>
        </div>
        <div class="card two bg-white p-4 mb-3">
          <form class="form-signin form-auth-card mt-5" name="institutecodeform"   role="form" novalidate="">
            
            <div class="form-group col-lg-6 mb-4">
              <label for="institutecode">Institute Code</label>
             
              <input type="text" class="form-control"  
              [(ngModel)]="institutecode" name="institutecode" id="institutecode" placeholder="Enter institute code" required>
            </div>
            <div class="form-group col-lg-12 mx-auto mb-0">
              <button
                class="btn btn-primary btn-block py-2 text-white"
                (click)="checkInstCode()"
              >
                <span class="font-weight-normal ">Login</span>
              </button>
            </div>
          </form>
           
        </div>
    </div>
</div>


</ion-content>
