ion-toolbar {
    --background: transparent;
    --border-color: transparent;
  }
  ion-slide {
      h2{
        color: #233558;
        font-size: 100%;
      }
      p{
          color:#8193AE;
      }
  }
  .swiper-slide {
    display: block;
  }
  
  .slide-title {
    margin-top: 16px;
  }
  
  .slide-image {
    max-height: 40vh;
    max-width: 100%;
    margin: 25px 0;
    pointer-events: none;
  }
  
  b {
    font-weight: 500;
  }
  
  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  
    b {
      color: var(--ion-text-color, #000000);
    }
  
  
  
  }
  
  
  .btn-block {
    width: 90%;
    margin: 0 auto;
  }
  
  .btn {
    text-transform: capitalize;
   
  }
  
  ion-button{
      text-transform: capitalize;
  }
  
  .text-dark {
    color: #475574;
    font-size: 80%;
    font-weight: 600;
  }
  
  ::ng-deep {
    .swiper-pagination-bullet-active {
      background:#3879F0;
      width: 20px;
      height: 6px;
      border-radius: 5px;
    }
  
    .swiper-container-horizontal>.swiper-pagination-bullets {
      bottom: 0px;
      left: 0;
      width: 100%;
    }
  }
  
 .onboarding-main{
     padding: 5%;
     height: 100%;
 }
