<ion-content fullscreen="true">
  <div class="onboarding-main">
    <div class="onboarding-slide">
      <ion-slides
      #slides
      (ionSlideWillChange)="onSlideChangeStart($event)"
      pager="true"
      [options]="slideOpts"
    >
      <ion-slide>
        <img src="assets/images/onboarding/banner1.png" class="slide-image" />
        <h2 class="slide-title">Start Learning in  nExam Hall</h2>
        <p>
           As all the competitive exam goes online in India, it is important for learners to get practiced in the exam environment 
        </p>
      </ion-slide>
      <ion-slide>
        <img
          src="assets/images/onboarding/banner2.png"
          class="slide-image"
        />
        <h2 class="slide-title">Practice Best Questions</h2>
        <p>
          Practice thousands of questions created by experts & toppers, review answers with detailed solutions, track your progress with performance analysis
        </p>
      </ion-slide>
  
      <ion-slide>
        <img
          src="assets/images/onboarding/banner3.png"
          class="slide-image"
        />
        <h2 class="slide-title"> Appflow</h2>
        <p>
          Online exam through Just Exam uses revolutionary modes to make your whole examination process quick.
        </p>
      </ion-slide>
      <ion-slide>
        <img
          src="assets/images/onboarding/banner4.png"
          class="slide-image"
        />
        <h2 class="slide-title">Analysis</h2>
        <p>
          simple and effective. Students get results instantly and compare with others.
        
        </p>
      </ion-slide>
    </ion-slides>
    </div>
  
  </div>
  <!--<div class="container">-->
  
  
  <!--</div>-->
 
  <ion-tabs class="ion-no-border" >
    <ion-tab-bar slot="bottom">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="dark" (click)="startApp()" [hidden]="!showSkip"
          >Skip</ion-button
        >
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button class="btn btn-primary"  (click)="nextSlide()" [hidden]="!showSkip">
            Next
          </ion-button>
        </ion-buttons>
        <button class="btn btn-block btn-primary"   (click)="startApp()"
        [hidden]="showSkip">
        Get Started
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </button>
      </ion-toolbar>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
