@font-face {
    font-family: 'nexamhall-font';
    src: url('../assets/fonts/Poppins/Poppins-Light.ttf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'nexamhall-font';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'nexamhall-font';
    src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'nexamhall-font';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 600;
    font-style: normal;
  }