<!--<ion-header class="ion-no-border">
  <ion-toolbar [color]="theme">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-center"> Settings</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content fullscreen>
  <div class="appHeader  text-light" [ngClass]="theme">
    <div class="left">
      <ion-menu-button autoHide="false" class="headerButton"></ion-menu-button>
      
    </div>
    <div class="pageTitle">
      Settings
    </div>
    <div class="right">
        <button  class="headerButton">
            <ion-icon class="icon" name="notifications-outline"></ion-icon>
            <span class="badge badge-danger"></span>
        </button>
    </div>
</div>
<div class="main">
  <ion-grid>
    <ion-list>
      <ion-list-header>
        <ion-icon slot="start" name="color-palette"></ion-icon>
        <p><strong>Themes</strong></p>
      </ion-list-header>
      <div class="container mt-2 theme-container" >
        <p><strong>Choose color</strong></p>
       
          <ion-segment
            scrollable
            [(ngModel)]="selectedcolor"
            (ionChange)="themeColorSet(selectedcolor)"
          >
            <ion-segment-button
              *ngFor="let t of themes;let i = index"
              value="{{t.id}}"
              id="seg-{{i}}"
            >
              <button
              [ngClass]="t.cssclass"
                class="btn color-btn "
              >
              </button>
            </ion-segment-button>
          </ion-segment>
      
      </div>
       
      
    </ion-list>
    <ion-list>
      <div class="container mt-2 theme-container" >
        <p><strong>Choose mode</strong></p>
       
          <ion-segment
            scrollable
            [(ngModel)]="selectedMode"
            (ionChange)="colorMode(selectedMode)"
          >
            <ion-segment-button value="day" id="modeseg1" >
                <ion-icon name="sunny-outline"></ion-icon>
                <ion-label>Day</ion-label>
            </ion-segment-button>
            <ion-segment-button value="night" id="modeseg2" >
              <ion-icon name="moon"></ion-icon>
              <ion-label>Night</ion-label>
          </ion-segment-button>
          <ion-segment-button value="auto" id="modeseg3" >
            <ion-icon name="contrast-outline"></ion-icon>
            <ion-label>Auto</ion-label>
        </ion-segment-button>
          </ion-segment>
      
      </div>
       
      
    </ion-list>
  </ion-grid>
</div>
 

</ion-content>