<!--<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-center"> Analysis</ion-title>
  </ion-toolbar>
</ion-header>-->
<ion-content>
  <div class="appHeader  text-light" [ngClass]="theme">
    <div class="left">
      <ion-menu-button autoHide="false" class="headerButton"></ion-menu-button>
      
    </div>
    <div class="pageTitle">
      Analysis
    </div>
    <div class="right">
        <button  class="headerButton">
            <ion-icon class="icon" name="notifications-outline"></ion-icon>
            <span class="badge badge-danger"></span>
        </button>
    </div>
</div>
<div class="main">
  </div>

</ion-content>
