<!--<ion-header>
  <ion-toolbar>
    <ion-title>completedresults</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="appHeader  text-light" [ngClass]="theme">
    <div class="left">
      <ion-menu-button autoHide="false" class="headerButton"></ion-menu-button>
      
    </div>
    <div class="pageTitle">
      Analysis
    </div>
    <div class="right">
        <button  class="headerButton">
            <ion-icon class="icon" name="notifications-outline"></ion-icon>
            <span class="badge badge-danger"></span>
        </button>
    </div>
</div>
<div class="main">
  </div>

</ion-content>
