<!--<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-center">My Exams </ion-title>
  </ion-toolbar>
</ion-header>-->
<ion-header class="ion-no-border">
  <div class="appHeader  text-light" [ngClass]="theme">
    <div class="left">
      <ion-menu-button autoHide="false" class="headerButton"></ion-menu-button>
      
    </div>
    <div class="pageTitle">
      My Exams
    </div>
    <div class="right">
        <button  class="headerButton">
            <ion-icon class="icon" name="notifications-outline"></ion-icon>
            <span class="badge badge-danger"></span>
        </button>
    </div>
</div>
</ion-header>

<ion-content>
  
<div class="main">
  <div class="section wallet-card-section pt-1">
    <div class="section-header">
      <ion-searchbar
        mode="ios"
        [(ngModel)]="queryText"
        (ionChange)="filterExams()"
        placeholder="Search"
      ></ion-searchbar>
    </div>
  </div>
  <ion-grid class="my-3" fixed>
    <ion-row>
      <ion-col size="6" size-md="6" *ngFor="let data of selected_Exam">
        <div
          class="card exam-list-card" mode="ios"
          [ngStyle]="{ 'background-image': data.background_color }"
        >
          <div class="py-2 text-center">
            <img
              class="d-block mx-auto mb-2 img-circle"
              [src]="data.examimage"
              alt="{{ data.examname }}"
              (error)="setDefaultPic(data.examname, 60, 1)"
              width="60"
              height="60"
            />
            <h6 class="card-title">{{ data.examname }}</h6>
          </div>
          <div class="card-content">
            <ul>
              <li
                class="list-group-item d-flex justify-content-between lh-condensed border-none"
                (click)="gomocklist(data.examid, data.mockexamslength)"
              >
                <div>
                  <p class="my-0">Mock Test</p>
                  <small class="text-muted"></small>
                </div>
                <span class="text-muted number-palate">
                  {{ data.mockexamslength }} Tests
                  <i class="ep-icon fa fa-angle-double-right"></i>
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between lh-condensed border-none"
                (click)="goTestSeries(data.examid, data.testserieslength)"
                ng-if="data.testseriessupport"
              >
                <div>
                  <p class="my-0">Test Series</p>
                  <small class="text-muted"></small>
                </div>
                <span class="text-muted"
                  >{{ data.testserieslength }} Series
                  <i class="ep-icon fa fa-angle-double-right"></i>
                </span>
              </li>
              <li
              class="list-group-item d-flex justify-content-between lh-condensed border-none"
              (click)="goLiveTest(data.examid,data.livemocktestlength)"
              ng-if="data.livemocktestsupport"
            >
              <div>
                <p class="my-0">Live Test</p>
                <small class="text-muted"></small>
              </div>
              <span class="text-muted"
                >{{ data.livemocktestlength }} Tests
                <i class="ep-icon fa fa-angle-double-right"></i>
              </span>
            </li>
            </ul>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</div>

</ion-content>
