.exam-list-card {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 208, 244, .2)), color-stop(30%, rgba(255, 255, 255, .54)), to(white));
    background: -o-linear-gradient(top, rgba(10, 208, 244, .2) 0, rgba(255, 255, 255, .54) 30%, #fff 100%);
    background: linear-gradient(to bottom, rgba(10, 208, 244, .2) 0, rgba(255, 255, 255, .54) 30%, #fff 100%);
    -webkit-box-shadow: -1px 1px 4px 0 rgba(117, 138, 172, .12);
    box-shadow: -1px 1px 4px 0 rgba(117, 138, 172, .12);
    border: none;
  }
  
  .exam-list-card h6 {
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0px;
  }
  
  .exam-list-card ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border-top: 1px solid #f1f4f6;
    margin: 15px 0;
    padding: 15px 0 0;
    min-height: 100px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    .list-group-item{
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        border: none;
    }
  }
  
  .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  
  .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  
  .exam-list-card ul li {
    padding-bottom: 3px;
    cursor: pointer;
    background: transparent;
    p{
        font-size: 0.7em;
    }
    .number-palate{
        font-size: 0.9em;
    }
  }