/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import './theme/font.scss';


.half-modal .modal-wrapper{
  height: 60%;
  top: 50%;
  position: absolute;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

p{
  font-size: small;
}
.mt-6{
  margin-top: 10%;
}
.form-control.ng-touched.ng-invalid{
    border-color: red;
  }

*{
  font-family:'nexamhall-font';
}

  .btn-primary {
    border: none;
    background:#4270C8;
    margin-bottom: 60px
  }
  
  // .btn-primary small {
  //   color: #9FB7FD
  // }
  
  .btn-primary span {
    font-size: 15px
  }
  .login-logo {
    padding: 20px 0;
    min-height: 100px;
    text-align: center;
  }
  
  .login-logo img {
    max-width: 65px;
  }
  
  .list {
    margin-bottom: 0;
  }
  
  .back-btn {
    font-size: 30px
  }
  
  
  .border-md {
    border-width: 2px;
  }
  .mt--6{
    margin-top: -4.5rem!important;
  }
  
//   .btn-facebook {
//     background: #405D9D;
//     border: none;
//   }
  
//   .btn-facebook:hover,
//   .btn-facebook:focus {
//     background: #314879;
//   }
  
//   .btn-twitter {
//     background: #42AEEC;
//     border: none;
//   }
  
//   .btn-google {
//     background: #ef392a;
//     border: none;
  
//   }
  
//   .btn-google:hover,
//   .btn-google:focus {
//     background: #ef392a;
//   }
  
//   .btn-twitter:hover,
//   .btn-twitter:focus {
//     background: #1799e4;
//   }
  
  .form-control:not(select) {
    padding: 1.5rem 0.5rem;
  }
  
  select.form-control {
    height: 52px;
    padding-left: 0.5rem;
  }
  
  .form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
  }
  
//   .form-control:focus {
//     box-shadow: none;
//   }
  
  .form-control {
    border: 2px solid #bdc1d2;
    font-size: 13px;
    height: 48px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #f7bfd9;
    outline: 0;
    box-shadow: none
}

.flex-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}
.login100-social-item {
    font-size: 25px;
    color: #3b5998;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin: 5px;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}
.login100-social-item img {
    width: 26px;
}


.custom-loader-class{
  --background:#fff;
  --spinner-color:#F94701;
}


.appHeader {
  border: 0;
  height: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.appHeader.text-light .headerButton {
  color: #FFF;
}
.appHeader .left .headerButton, .appHeader .right .headerButton {
  min-width: 18%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  color: #fff;
  position: relative;
  background: transparent;
  font-size: 25px;
  border: 0;
  outline: none;
}
.appHeader .left {
  left: 10px;
  top: 0;
}
.appHeader .left, .appHeader .right {
  height: 56px;
  display: flex;
  align-items: center;
  position: absolute;
}
.appHeader .pageTitle {
  font-size:0.9rem;
  font-weight: 500;
  padding: 0 10px;
}
.appHeader .right {
  right: 10px;
  top: 0;
}
.main {
  padding: 56px 0;
  margin-bottom: env(safe-area-inset-bottom);
}
.theme-container{
  background: #f6f8f9; 
}
.color-btn{
  width: 5px;
  height: 5px;
  border-radius: 3px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  padding: 10px 10px;
}
.theme-light{
  background: white;
//  box-shadow:  -1px 1px 4px 0 rgba(117,138,172,.12);
  box-shadow: -1px 1px 4px 0 rgb(137 151 187);
}

.theme-dark{
  background: #2f4f4f;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px
}
.theme-pink{
  background: #C886D0;
  background: linear-gradient(90deg, rgba(200,134,208,1) 0%,
   rgb(243, 181, 211) 67%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px;
  color:white;
  --ion-color-primary-rgb: rgba(243,181,211,1) !important;
  --ion-color-primary-tint :#111b1b;
}
.theme-richgreen{
 
  background:  #18B6B7;
  background: linear-gradient(90deg, rgba(24,182,183,1) 0%,
   rgba(80,220,221,1) 67%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px
}
.theme-purple{
 
  background:  #2E306E;
  background: linear-gradient(90deg, rgba(46,48,110,1) 0%,
   rgba(76,75,155,1) 67%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px
}

.theme-blue{
  // background: #344BDC;
  // background: linear-gradient(90deg, rgba(52,75,220,1) 0%, 
  // rgba(82,125,253,1) 67%);
  background: #054193;
   background: linear-gradient(90deg, rgba(5,65,147,1) 0%, 
   rgba(26,99,196,1) 67%);
}
.theme-seablue{
  background: #4099ff;
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}
.theme-yellow{

  //background: #f6c14a;
  background:#FFB64D;
  background: linear-gradient(45deg, #FFB64D, #ffcb80);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px
}
.theme-orange{
  background: #ff6269;
  background: linear-gradient(90deg, rgba(255,98,105,1) 0%, rgba(255,123,84,1) 67%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px
}
.theme-green{
  background:#85E5A8;
  background: linear-gradient(90deg, rgba(132,228,167,1) 0%, rgba(191,239,177,1) 67%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px
}
